<!doctype html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
          name="viewport">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">
    <title>Add item</title>
    <link th:href="@{/style.css}" rel="stylesheet">

</head>
<body>
<h1>Add an Item</h1>
<form action="#" method="post" th:action="@{/item/add}" th:object="${item}">
    <fieldset>
        <legend>Item data</legend>
        <label>
            Name of the item:
            <input th:field="*{name}" type="text">
        </label>
        <p th:if="${#fields.hasErrors('name')}" th:errorclass="error" th:errors="*{name}"></p>
        <label>
            Description of the item:
            <textarea th:field="*{description}"></textarea>
        </label>
        <p th:if="${#fields.hasErrors('description')}" th:errorclass="error" th:errors="*{description}"></p>
        <label>
            Quantity of the item:
            <input th:field="*{quantity}" type="number">
        </label>
        <p th:if="${#fields.hasErrors('quantity')}" th:errorclass="error" th:errors="*{quantity}"></p>
        <button type="submit">Submit</button>
        <button type="reset">Reset</button>
    </fieldset>
</form>
<div><a href="/">Go back to Index</a></div>


</body>
</html>