<!doctype html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
          name="viewport">
    <title th:text="'Details of item ' + ${item.id}">Update item</title>
    <link th:href="@{/style.css}" rel="stylesheet">
</head>
<body>
<h1 th:text="${item.name}"></h1>
<p th:text="'Description: ' + ${item.description}"></p>
<p th:text="'Quantity: ' + ${item.quantity}"></p>
<a th:href="@{/item/}">Go back</a>
</body>
</html>