<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
          name="viewport">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">
    <title>Items</title>
    <script crossorigin="anonymous"
            integrity="sha384-rgjA7mptc2ETQqXoYC3/zJvkU7K/aP44Y+z7xQuJiVnB/422P/Ak+F/AqFR7E4Wr"
            src="https://unpkg.com/htmx.org@1.9.8"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
    <link href="https://unpkg.com/bonsai.css@latest/dist/bonsai.min.css" rel="stylesheet">
    <link href="style.css" rel="stylesheet">


</head>
<body>
<h1>Welcome to the Inventory</h1>
<nav>
    <a href="/item/add">Add an item</a>
</nav>
<ul class="grid-list">
    <li th:each="item : ${items}">
        <p class="text-list"><span th:text="${item.name}"></span></p>
        <a th:href="@{'/item/update/' + ${item.id}}">Update item</a>
        <div>
            <button hx-confirm="Are you sure?" hx-swap="outerHTML" hx-target="closest li"
                    th:attr="hx-delete='/item/remove/' + ${item.id}">Delete it
            </button>
        </div>
        <div x-data="{open: false}">
            <button @click="open = ! open" hx-swap="innerHTML" hx-target="next .response"
                    th:attr="hx-get='item/details/' + ${item.id}">See
                details
            </button>
            <div class="response" x-show="open"></div>
        </div>
    </li>
</ul>
<!--TODO: We should not make it 10s-->
<p>We have currently <span hx-get="/item/count" hx-swap="innerHTML" hx-trigger="load"></span>
    products
</p>
</body>
</html>