<!doctype html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
          name="viewport">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">
    <title>Update item</title>
    <script crossorigin="anonymous"
            integrity="sha384-rgjA7mptc2ETQqXoYC3/zJvkU7K/aP44Y+z7xQuJiVnB/422P/Ak+F/AqFR7E4Wr"
            src="https://unpkg.com/htmx.org@1.9.8"></script>
    <link href="https://unpkg.com/bonsai.css@latest/dist/bonsai.min.css" rel="stylesheet">
<body>
<h1>Add an Item</h1>
<form th:attr="hx-put='/item/update/' + ${item.id}" th:object="${item}">
    <fieldset>
        <legend>Item data</legend>
        <label>
            Name of the item:
            <input th:field="*{name}" type="text">
        </label>
        <label>
            Description of the item:
            <textarea th:field="*{description}"></textarea>
        </label>
        <label>
            Quantity of the item:
            <input th:field="*{quantity}" type="number">
        </label>
        <label>
            <input type="submit" value="Submit">
        </label>
        <label>
            <input type="reset" value="Reset">
        </label>
    </fieldset>
</form>
</body>
</html>