<!doctype html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Add item</title>
    <link href="https://unpkg.com/bonsai.css@latest/dist/bonsai.min.css" rel="stylesheet">

</head>
<body>
<h1>Add an Item</h1>
<form action="#" th:action="@{/item/add}" th:object="${item}" method="post">
    <fieldset>
        <legend>Item data</legend>
        <label>
            Name of the item:
            <input type="text" th:field="*{name}">
        </label>
        <label>
            Description of the item:
            <textarea th:field="*{description}"></textarea>
        </label>
        <label>
            Quantity of the item:
            <input type="number" th:field="*{quantity}">
        </label>
        <button type="submit">Submit</button>
        <button type="reset">Reset</button>
    </fieldset>
</form>
<div><a href="/">Go back to Index</a></div>


</body>
</html>