<!doctype html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Item</title>
</head>
<body>
<h1 th:text="'Item: ' + ${item.id} "></h1>
<ul>
    <li th:text="${item.name}"></li>
    <li th:text="${item.description}"></li>
    <li th:text="${item.quantity}"></li>
</ul>
<p><a href="/">Return to index</a></p>
</body>
</html>